{% extends "base.html" %} 

{% block title %} Alice Penrose {% endblock %} 

{% block content %}

<div class="container-fluid cover">
  <div class="row">
    <div class="col-sm-6">
      <div class="container-sm cover-txt bodoni-moda-title-dark">
        <p>
          Alice Penrose. <br />
          Software Analysis and Development.
        </p>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="container-sm cover-img">
        <img
          src="../static/Images/logo.png"
          style="width: 100%; height: auto"
        />
      </div>
    </div>
  </div>
</div>

<div class="container-fluid backend">
  <div class="row"><div class="col-sm-12"><p class="text-top">Back-end Developent</p></div></div>
  <div class="row content">
    <div class="col-sm-6">
      <div class="container-sm text">
        <p class="h1">Java</p>
      </div>
    </div>
    <div class="col-sm-6 img">
      <div class="container-sm img">
        <img src="../static/Images/java.webp" alt="Java" style="width: 50%; height: auto"/>
      </div>
    </div>
  </div>
  <div class="row content">
    <div class="col-sm-6 img">
      <div class="container-sm img">
        <img src="../static/Images/C++.png" alt="Python" style="width: 50%; height: auto" />
      </div>
    </div>
    <div class="col-sm-6">
      <div class="container-sm text">
        <p class="h1">C++</p>
      </div>
    </div>
  </div>
  <div class="row content">
    <div class="col-sm-6">
      <div class="container-sm text">
        <p class="h1">Python</p>
      </div>
    </div>
    <div class="col-sm-6 img">
      <div class="container-sm img">
        <img src="../static/Images/python.png" alt="Python" style="width: 50%; height: auto" />
      </div>
    </div>
  </div>
  <div class="row content">
    <div class="col-sm-6 img">
      <div class="container-sm img">
        <img src="../static/Images/nodejs.png" alt="Python" style="width: 50%; height: auto" />
      </div>
    </div>
    <div class="col-sm-6">
      <div class="container-sm text">
        <p class="h1">Node.js</p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid backend">
  <div class="row"><div class="col-sm-12"><p class="text-top">Front-end Developent</p></div></div>
  <div class="row content">
    <div class="col-sm-6">
      <div class="container-sm text">
        <p class="h1">HTML</p>
      </div>
    </div>
    <div class="col-sm-6 img">
      <div class="container-sm img">
        <img src="../static/Images/html.png" alt="Java" style="width: 40%; height: auto"/>
      </div>
    </div>
  </div>
  <div class="row content">
    <div class="col-sm-6 img">
      <div class="container-sm img">
        <img src="../static/Images/css.png" alt="Python" style="width: 50%; height: auto" />
      </div>
    </div>
    <div class="col-sm-6">
      <div class="container-sm text">
        <p class="h1">CSS</p>
      </div>
    </div>
  </div>
  <div class="row content">
    <div class="col-sm-6">
      <div class="container-sm text">
        <p class="h1">React</p>
      </div>
    </div>
    <div class="col-sm-6 img">
      <div class="container-sm img">
        <img src="../static/Images/react.png" alt="Python" style="width: 50%; height: auto" />
      </div>
    </div>
  </div>
  <div class="row content">
    <div class="col-sm-6 img">
      <div class="container-sm img">
        <img src="../static/Images/bootstrap.png" alt="Python" style="width: 50%; height: auto" />
      </div>
    </div>
    <div class="col-sm-6">
      <div class="container-sm text">
        <p class="h1">Bootstrap</p>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="container-fuid" style="height: 118px; background-color: black;">
    <p class="bodoni-moda-title" style="text-align: center; justify-content: center; font-size: 250%; padding-top: 2%;">Alice Winston Azambuja Penrose Wasilewski</p>
  </div>
</footer>
{% endblock %}
